/* Layout */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #222;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2erm 1rem;
  font-size: 20px;
  overflow-y: auto;
}

.sidebar h1 {
  position: relative;
  top: 40px;       /* descend le texte de 20px */
  text-align: center;
  font-size: 30px;
  margin: 0;       /* évite que margin pousse l'image */
}


.profile-pic {
  width: 300px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  width:100%;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  transition: background 0.3s;
}

.sidebar nav a:hover {
  background: #0078ff;
  border-radius: 6px;
}

.social-links {
  margin-top: 2rem;
}

.icon {
  width: 30px;
  margin: 0.5rem;
}

.bg-icon {
  width: 45px;
}

/* Content */
.content {
  margin-left: 300px;
  padding: 2rem;
  max-width: 900px;
}

section {
  min-height: 3rem 1rem;
  padding: 3rem 1rem;
  border-bottom: 1px solid #ddd;
}

.highlight {
  color: #0078ff;
}


/* Form */
form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  background: #0078ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #005fcc;
}

/* Align */
#about p {
  text-align: justify; /* ou left, right, center selon ton choix */
}

#experience p {
  text-align: justify;
}

/* Bouton hamburger */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2000;
  color: white;
  background: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Menu mobile caché par défaut */
.mobile-menu {
  display: none;
  flex-direction: column;
  background: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 50px 20px;
  z-index: 1500;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  margin: 15px 0;
  font-size: 18px;
}

/* Adaptation mobile */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none; /* cache la sidebar classique */
  }

  
  .hamburger {
    display: block; /* montre le bouton hamburger */
  }

  main {
    margin-left: 0 !important; /* le texte prend toute la largeur */
    padding: 15px;
    width: 100%;  
    text-align: justify; /* ton texte est bien aligné */
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 250px; /* limite en px si tu veux */
    height: 100%;
    padding: 50px 20px;
    z-index: 1500;
  }

  .mobile-menu.active {
    display: flex;
  }


}

